.addusermodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.addusermodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.addusermodal-container input[type=text], input[type=email] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.addusermodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

input:disabled,
input[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
    color: #c0c0c0;

}

#menu input {
    font-size: 0.7em;
    text-transform: lowercase;
    text-align: right;
    position: relative;
    top: -4px;
}

#users {
    width: 60%;
    margin-left: 40%;
}

.user-status {
    cursor: pointer;
}

.alert {
    top: 11%;
    opacity: 0.8;
    z-index: 999999;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

#danger-alert {
    color: red;
}

.image-cropper {
    width: 476px;
    height: 476px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -855px;
    margin-left: 680px;
    z-index: 300;
}

img {
    display: inline;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#main-text {
    margin-left: 450px;
    margin-top: 13px;
    font-size: 25pt;
    font-family: 'Montserrat';
    color: #3C3352;
    position: absolute;
    z-index: 1;
}

#small-text {
    font-size: 20pt;
    font-family: 'Montserrat';
    color: #3C3352;
    margin-top: -440px;
    margin-left: 280px;
    position: relative;
    z-index: 4;
    width: 400px;
    height: 100px;
}

#small-image {
    margin-top: -110px;
    margin-left: 200px;
    position: relative;
    z-index: 3;
    width: 550px;
    height: 140px;
}